<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Kawalan Bajet</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Bukut VoT</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Tarikh</th>
                                <th scope="col">Butiran</th>
                                <th scope="col">Invois ID</th>
                                <th scope="col">No. PO</th>
                                <th scope="col">Tanggungan (RM)</th>
                                <th scope="col">Bayaran (RM)</th>
                                <th scope="col">Baki (RM)</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">12 Jan 2020</th>
                                <td>Bayaran kepada syarikat Q</td>
                                <td>#11223</td>
                                <td>91214</td>
                                <td>1125.00</td>
                                <td>1195.00</td>
                                <td>812.00</td>
                            </tr>
                            <tr>
                                <th scope="row">12 Jan 2020</th>
                                <td>Bayaran kepada syarikat Q</td>
                                <td>#11224</td>
                                <td>91214</td>
                                <td>1125.00</td>
                                <td>1195.00</td>
                                <td>812.00</td>
                            </tr>
                            <tr>
                                <th scope="row">12 Jan 2020</th>
                                <td>Bayaran kepada syarikat Q</td>
                                <td>#11225</td>
                                <td>91214</td>
                                <td>1125.00</td>
                                <td>1195.00</td>
                                <td>812.00</td>
                            </tr>
                            <tr>
                                <th scope="row">12 Jan 2020</th>
                                <td>Bayaran kepada syarikat Q</td>
                                <td>#11226</td>
                                <td>91214</td>
                                <td>1125.00</td>
                                <td>1195.00</td>
                                <td>812.00</td>
                            </tr>
                            <tr>
                                <th scope="row">12 Jan 2020</th>
                                <td>Bayaran kepada syarikat Q</td>
                                <td>#11227</td>
                                <td>91214</td>
                                <td>1125.00</td>
                                <td>1195.00</td>
                                <td>812.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Pindahan Bajet</h4>
                </div>
                <div class="card-body">
                    <div class="farm-group">
                        <label class="form-control-label">Nama Bank</label>
                        <select class="custom-select form-cpntrol">
                            <option selected>Sila plih nama bank</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="farm-group">
                                <label class="form-control-label">Akaun Asal</label>
                                <input class="form-control" placeholder="Masukkan no akaun asal">
                            </div>
                        </div>
                        <div class="col">
                            <div class="farm-group">
                                <label class="form-control-label">Akaun Baharu</label>
                                <input class="form-control" placeholder="Masukkan no akaun baharu">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Jumlah Bajet</label>
                        <input class="form-control" placeholder="Masukkan jumlah bajet">
                    </div>
                    <button class="btn btn-primary">Hantar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Carta Akaun</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Jenis Akaun</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1000-999</th>
                                <td>Aset Bukan Semasa</td>
                            </tr>
                            <tr>
                                <th scope="row">1000-959</th>
                                <td>Aset Semasa</td>
                            </tr>
                            <tr>
                                <th scope="row">1000-979</th>
                                <td>Liabiliti</td>
                            </tr>
                            <tr>
                                <th scope="row">1000-199</th>
                                <td>Belanja</td>
                            </tr>
                            <tr>
                                <th scope="row">1000-899</th>
                                <td>Aset Hasil</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Laporan</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Jenis Laporan</label>
                        <select class="form-control custom-select">
                            <option selected hidden>Sila pilih jenis laporan</option>
                            <option>Laporan 1</option>
                            <option>Laporan 2</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-sm">Carian</button>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Tajuk Laporan</th>
                                <th scope="col">Jenis Laporan</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1.</th>
                                <td>Laporan 1</td>
                                <td>Jenis 1</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Lihat</button>
                                    <button class="btn btn-info btn-sm">Sunting</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2.</th>
                                <td>Laporan 2</td>
                                <td>Jenis 2</td>
                                <td>
                                    <button class="btn btn-success btn-sm">Lihat</button>
                                    <button class="btn btn-info btn-sm">Sunting</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>