<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Tuntutan</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Carta Transaksi</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Transaksi Kakitangan</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Jenis Transaksi</label>
                                <select class="form-control custom-select">
                                    <option selected hidden>Sila pilih jenis transaksi</option>
                                    <option>Pendahuluan</option>
                                    <option>Tuntutan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama</label>
                                <input class="form-control" placeholder="Masukkan nama">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">No. Kad Pengenalan</label>
                                <input class="form-control" placeholder="Masukkan no. kad pengenalan">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Bank</label>
                                <select class="form-control custom-select">
                                    <option selected hidden>Sila pilih bank</option>
                                    <option>Maybank</option>
                                    <option>CIMB</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">No. Akaun Bank</label>
                                <input class="form-control" placeholder="Masukkan no. akaun bank">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Jumlah Transaksi</label>
                                <input class="form-control" placeholder="Masukkan jumlah transaksi">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Sebab Transaksi</label>
                                <input class="form-control" placeholder="Masukkan sebab transaksi">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Alamat</label>
                                <input class="form-control" placeholder="Masukkan alamat">
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm">Hantar</button>
                </div>
            </div>
        </div>
    </div>
</div>