<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Pengekosan Projek</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Struktur Jumlah Projek</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Nilai Purata Kos Projek</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv1" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Masterfile Projek</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama Projek</th>
                                <th scope="col">Nama Syarikat</th>
                                <th scope="col">ID</th>
                                <th scope="col">Tarikh Mula</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Projek ABD</th>
                                <td>Syarikat A&A</td>
                                <td>#PR1234</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Selesai</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Projek ZAYK</th>
                                <td>Syarikat Amin Maju</td>
                                <td>#PR1235</td>
                                <td>30 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Selesai</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Projek MNE</th>
                                <td>Syarikat Bina Maju</td>
                                <td>#PR1236</td>
                                <td>29 Mac 2020</td>
                                <td>
                                    <span class="badge badge-warning">Belum selesai</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Pendaftaran Projek</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama Syarikat</label>
                                <input class="form-control" placeholder="Masukkan nama syarikat">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">ID Syarikat</label>
                                <input class="form-control" placeholder="Masukkan ID syarikat ">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Nama Projek</label>
                        <input class="form-control" placeholder="Masukkan nama projek">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Deskripsi Projek</label>
                        <textarea class="form-control" placeholder="Masukkan deskripsi projek"></textarea>
                    </div>
                    <button class="btn btn-primary btn-sm">Hantar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Penetapan Aliran Kerja</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv2" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>