<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Penggajian</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Maklumat Pekerja</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nama Pekerja</th>
                                <th scope="col">ID</th>
                                <th scope="col">Jawatan</th>
                                <th scope="col">Jabatan</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1.</th>
                                <td>Daniel Raziq</td>
                                <td>#11223</td>
                                <td>Kerani</td>
                                <td>Sumber Manusia</td>
                            </tr>
                            <tr>
                                <th scope="row">2.</th>
                                <td>Ilman Azhar</td>
                                <td>#11224</td>
                                <td>Pegawai Tadbir</td>
                                <td>Pelesenan</td>
                            </tr>
                            <tr>
                                <th scope="row">3.</th>
                                <td>Jep Ahmad</td>
                                <td>#11225</td>
                                <td>Akauntan</td>
                                <td>Akaun</td>
                            </tr>
                            <tr>
                                <th scope="row">4.</th>
                                <td>Iwan Fikri</td>
                                <td>#11226</td>
                                <td>Pegawai Tadbir</td>
                                <td>Perkhidmatan</td>
                            </tr>
                            <tr>
                                <th scope="row">5.</th>
                                <td>Redzuan Affendi</td>
                                <td>#11227</td>
                                <td>Pegawai Tadbir</td>
                                <td>Pelesenan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Maklumat Pemotongan</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
						<div id="chartdiv" style="width: 100%; height: 100%"></div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Laporan Proses Gaji</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nama Pekerja</th>
                                <th scope="col">ID</th>
                                <th scope="col">Gaji</th>
                                <th scope="col">Tarikh Akhir Gaji</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">1.</th>
                                <td>Daniel Raziq</td>
                                <td>#11223</td>
                                <td>RM2800.00</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Dibayar</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2.</th>
                                <td>Ilman Azhar</td>
                                <td>#11224</td>
                                <td>RM2800.00</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Dibayar</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3.</th>
                                <td>Jep Ahmad</td>
                                <td>#11225</td>
                                <td>RM2800.00</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Dibayar</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4.</th>
                                <td>Iwan Fikri</td>
                                <td>#11226</td>
                                <td>RM2800.00</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Dibayar</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5.</th>
                                <td>Redzuan Affendi</td>
                                <td>#11227</td>
                                <td>RM2800.00</td>
                                <td>29 Januari 2020</td>
                                <td>
                                    <span class="badge badge-success">Dibayar</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>