<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Buku Tunai</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Masterfile Perbankan</h4> 
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama Bank</th>
                                <th scope="col">Bank ID</th>
                                <th scope="col">Jumlah Akaun</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Maybank</th>
                                <td>MAY1231</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th scope="row">CIMB</th>
                                <td>CIMB1231</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th scope="row">Hong Leong</th>
                                <td>HLG1231</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Pelbagai Mata Wang</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Jumlah Wang</label>
                        <input class="form-control" placeholder="Contoh: 12000">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Daripada</label>
                        <select class="form-control" placeholder="Contoh: 12000">
                            <option hidden selected>Sila pilih mata wang</option>
                            <option>MYR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Kepada</label>
                        <select class="form-control" placeholder="Contoh: 12000">
                            <option hidden selected>Sila pilih mata wang</option>
                            <option>MYR</option>
                            <option>USD</option>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-sm mt-2">Tukar</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Wang Panjar</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tarikh</label>
                                <input class="form-control" placeholder="Contoh: 38512478121" type="date">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Jumlah Bayaran (RM)</label>
                                <input class="form-control" placeholder="Contoh: 179.00">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Bayaran Kepada</label>
                        <input class="form-control" placeholder="Contoh: 38512478121">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Sebab Bayaran</label>
                        <input class="form-control" placeholder="Nyatakan sebab bayaran">
                    </div>
                    <button class="btn btn-primary btn-sm mt-2">Hantar</button>
                </div>
            </div>
        </div>
    </div>
</div>