<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Pinjaman/Pajakan</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Kalkulator Pinjaman</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Jumlah Pinjam (RM)</label>
                                <input class="form-control" placeholder="Contoh: 12000">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Tempoh (tahun)</label>
                                <input class="form-control" placeholder="Contoh: 5">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Bank</label>
                        <select class="form-control custom-select">
                            <option selected hidden>Sila pilih bank</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Pembayaran Bulanan (RM)</label>
                        <input class="form-control" placeholder="">
                    </div>
                    <button class="btn btn-primary btn-sm mt-2">Kira</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Pengiraan Faedah Pinjaman</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-control-label">Jumlah Pinjaman</label>
                        <input class="form-control" placeholder="Contoh: 19000">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Tempoh Pinjaman</label>
                        <input class="form-control" placeholder="Contoh: 2">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Kadar Faedah Setahun</label>
                        <input class="form-control" placeholder="5%">
                    </div>
                    <button class="btn btn-primary btn-sm mt-2">Kira</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Jadual Pembayaran Balik Pinjaman</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Tarikh Pinjaman</th>
                                <th scope="col">Tarikh Mula Pembayaran</th>
                                <th scope="col">Peminjam</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">28 Disember 2018</th>
                                <td>1 Januari 2020</td>
                                <td>Muhammad Aiman</td>
                            </tr>
                            <tr>
                                <th scope="row">3 Februari 2019</th>
                                <td>5 Februari 2020</td>
                                <td>Afiqah Adnan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Laporan Pinjaman</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama Peminjam</th>
                                <th scope="col">Jumlah Pinjaman</th>
                                <th scope="col">Butiran Bank</th>
                                <th scope="col">Tarikh Pinjaman</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Azmin Bakar</th>
                                <td>RM430</td>
                                <td>Maybank</td>
                                <td>29 Januari 2020</td>
                            </tr>
                            <tr>
                                <th scope="row">Mahyuddin Ali</th>
                                <td>RM124</td>
                                <td>Public Bank</td>
                                <td>30 Januari 2020</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>