<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Akaun Belum Bayar</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Masterfile Pembekal</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nama Syarikat</th>
                                <th scope="col">ID</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Syarikat Megah Jaya</th>
                                <td>#SY12314</td>
                                <td>Kategori 1</td>
                                <td><span class="badge badge-info">Aktif</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Syarikat Megah Makmur</th>
                                <td>#SY12313</td>
                                <td>Kategori 2</td>
                                <td><span class="badge badge-warning">Tidak Aktif</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Nota Debit & Kredit / Pelarasan</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama fail nota debit</label>
                                <input class="form-control" placeholder="Masukkan nama fail nota debit">
                            </div>
                            <button class="btn btn-sm btn-primary">Muat naik fail</button>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama fail nota kredit</label>
                                <input class="form-control" placeholder="Masukkan nama fail nota kredit">
                            </div>
                            <button class="btn btn-sm btn-primary">Muat naik fail</button>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">Nama fail pelarasan</label>
                                <input class="form-control" placeholder="Masukkan nama fail pelarasan">
                            </div>
                            <button class="btn btn-sm btn-primary">Muat naik fail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>